@import "tailwindcss";

/* Custom utility for bg-header */
.bg-header::before {
  content: "";
  z-index: -1;
  height: 220px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 0;
}

#note-selector button,
#octave-selector button {
  /* @apply w-24 shadow font-semibold text-gray-700 text-sm border border-gray-200 p-2 mr-4 mb-4 rounded bg-gray-100; */
  @apply inline-block relative;
  @apply w-8 h-8;
  @apply p-1 mb-2 mr-2;
  @apply text-white bg-teal-500;
  @apply rounded border-transparent;
  @apply outline-none;
  transition: all .35ms
}

#note-selector .flex button:nth-of-type(2n) {
  @apply bg-teal-300;
}

#chord-selector button {
  /* @apply w-24 shadow font-semibold text-gray-700 text-sm border border-gray-200 p-2 mr-4 mb-4 rounded bg-gray-100; */
  @apply inline-block relative;
  @apply w-24;
  @apply p-3 mb-2 mr-2;
  @apply bg-teal-500 text-white;
  @apply rounded border-transparent;
  @apply outline-none;
  transition: all .35ms
}

#note-selector button:hover,
#note-selector button:nth-of-type(2n):hover,
#octave-selector button:hover,
#chord-selector button:hover {
  /* @apply bg-gray-200 text-black; */
  @apply bg-teal-400;
}

#note-selector button.hidden,
#octave-selector button.hidden,
#chord-selector button.hidden {
  display: none !important;
}